nav
    ul(class='nav-links')
        li 
            a(href="/") Kezdőlap
        li 
            a(href="/users/register") Regisztáció
        li 
            a(href="/users/login") Belépés
            
include ./logout
