extends layout
block content
    //- if errors
    //-     each error in errors
    //-         p= error.msg
    //- include ./includes/messages
    div(class='home-wrapper')
        include includes/messages
        include includes/register